In [1]:
from read_data import ReadData

In [2]:
read_obj = ReadData('CO', filename="ambient_air_data/daily_42101_2020_06_037.csv", county_level=True)
df= read_obj.get_pandas_obj()

In [7]:
df['year_month'] = df['date_local'].apply(lambda x: "{}_{}".format(x.year, x.month))

In [9]:
df.groupby(['year_month'])['first_max_value'].sum().reset_index()

    year_month  first_max_value
0       2010_1             90.0
1      2010_10             46.9
2      2010_11             76.4
3      2010_12             79.9
4       2010_2             56.8
..         ...              ...
115     2019_5             19.2
116     2019_6             15.4
117     2019_7             17.7
118     2019_8             24.1
119     2019_9             26.0

[120 rows x 2 columns]

In [13]:
df.columns

Index(['id', 'date_local', 'aqi', 'arithmetic_mean', 'cbsa', 'cbsa_code',
       'city', 'county', 'county_code', 'date_of_last_change', 'datum',
       'event_type', 'first_max_hour', 'first_max_value', 'latitude',
       'local_site_name', 'longitude', 'method', 'method_code',
       'observation_count', 'observation_percent', 'parameter',
       'parameter_code', 'poc', 'pollutant_standard', 'sample_duration',
       'site_address', 'site_number', 'state', 'state_code',
       'units_of_measure', 'validity_indicator', 'year_month'],
      dtype='object')

In [14]:
df[['units_of_measure']]

       units_of_measure
0     Parts per million
1     Parts per million
2     Parts per million
3     Parts per million
4     Parts per million
...                 ...
3647  Parts per million
3648  Parts per million
3649  Parts per million
3650  Parts per million
3651  Parts per million

[3652 rows x 1 columns]