In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(columns=['a', 'b'], data=[[1,2], [1,5], [6,2]])

In [3]:
df

   a  b
0  1  2
1  1  5
2  6  2

In [27]:
def sum_it(x):
    return x+5.5

pd.options.mode.chained_assignment = None
mask = df['a']==1
df[mask]['b'] = df[mask]['b'].apply(sum_it).tolist()

In [34]:
df['a'] = [5,6,5]

In [35]:
df

   a  b
0  5  2
1  6  5
2  5  2

In [33]:
df.iloc(mask, 'b') = [1,2]

SyntaxError: can't assign to function call (<ipython-input-33-6494adc0942f>, line 1)

In [31]:
df

   a  b
0  1  2
1  1  5
2  6  2

In [18]:
df.loc(mask, 'b') =  df[mask]['b'].apply(lambda x:x+0.5).tolist()

SyntaxError: can't assign to function call (<ipython-input-18-32c5e2fdf346>, line 1)

In [36]:
from get_population import USPopulation

In [38]:
population_obj = USPopulation()

In [ ]:
self.population_obj.get(county_name, state_name)

In [39]:
from constants import *

In [40]:
df = pd.read_csv(CENSUS_DATA_PATH)

In [50]:
f1 = (df['county_name'] == 'Philadelphia County')
f2 = (df['state_name'] == 'Pennsylvania')
df[f1]['state_name'].tolist()[0]

' Pennsylvania'

In [47]:
len("Pennsylvania")

12